@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth scrolling for anchor links */
html{
  scroll-behavior: smooth; 
}

input:focus {
  outline: none;
  border-color: #c5a059 !important; /* custom rings for better form accessibility */
}